.loading-spinner-wrapper {
  width: 40px;
  height: 40px;
  margin: 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loading-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    &::after {
      content: '';
      width: 30px;
      height: 30px;
      border: 5px solid #555;
      border-top-color: #FFF;
      border-radius: 50%;
      animation: loading 1s ease infinite;
    }

    @keyframes loading {
      to {
        transform: rotate(1turn);
      }
    }

    &__countdown {
      font-size: 14px;
      color: #FFF;
      font-weight: 400;
      line-height: 1;
    }
  }
}